*{
    font-family: 'Quicksand', sans-serif;
    background-image: url("assets/img/bg.png");
    background-repeat: repeat;
}
.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    width: 250px;
    height: 100%;
    color: #e1ffff;
    left: 0px;
    
  }

  .nav-side-menu .brand {
      padding-top: 50px;
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
  }
  #heading{
		text-align: center;
}
  .main-content{
      background-image: url("assets/img/bg.png");
      background-repeat: repeat;
      padding-top:20px;
      padding-left:260px;
      height:100vh;
      font-size: 19px;
      background-size: cover;
}

  h5{
		text-decoration: underline;
		margin-top: 20px;
		margin-bottom: 20px;
    font-size: 1.4em;
    text-align: left;
}
.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}
  @media (min-width: 767px) {
  .profile-pic{
    border: 2px double #f00;
    width:180px;
    height:180px;
  }
}
  @media (max-width: 767px) {
    .profile-pic{
      border: 2px double #f00;
      width:90px;
      height:90px;
      margin-left: 41%;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #2e353d;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}

li a {
    text-align: center;
    display: block;
    color: #FFFBFB;
    padding: 20px 2px;
    text-decoration: none;
}

li a.active {
    text-align: center;
    background-color: #EBF5EB;
    color: #0A0606;
    text-decoration: none;
}

li a:hover:not(.active) {
    text-align: center;
    background-color: #555;
    color: #D3B6B6;
    text-decoration: none;
}
@media (max-width: 767px) {
    .nav-side-menu {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
      background-color: #ffffff;
      color: #000;
      width: 40px;
      text-align: center;
    }
    .brand {
      text-align: left !important;
      font-size: 22px;
      padding-left: 20px;
      line-height: 50px !important;
    }
    ul
    {
        width:100%;
    }
  }
  @media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
      display: block;
    }
  }
  body {
    margin: 0px;
    padding: 0px;
  }
.social {
  text-decoration: none !important;
  color: #2e353d;
  font-size: 2em;
}
#jumbo{
  margin-top: 12.5%;
  padding-left: 10px;
}
.vr{
  border-right:solid #2e353d; 
  border-width: 1px;
}